@font-face {
    font-family: adventure;
    src: url(../font/adventure/Adventure.otf);
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    border-right: 0.2rem rgb(241, 241, 243);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(41, 46, 65);
}

nav a:hover {
    background-color: rgb(27, 32, 48);
}

nav h2 {
    margin: 0.5rem;

    font-family: adventure;
    font-weight: 50;
    font-size: 40px;
    letter-spacing: 15px;
    color: rgb(241, 241, 243);

    transition: color 0.125s linear;
    -webkit-transition: color 0.125s linear;
}

nav .artistes h2:hover {
    color: #FF6666;
    cursor: pointer;
}

nav .disques h2:hover {
    color: #6b66ff;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    nav {
        display: flex;
        flex-direction: column;
    }
  }